.img {
  float: right;
}

.column {
  width: 360px;
  float: left;
}

.list {
  font-size: 200%;
  font-family: sans-serif;
  font-style: bold;
  font-style: italic;
  color: red;
}

.title {
  color: red;
  text-align: center;
}

.important {
  text-align: center;
  font-style: italic;
}

.stone {
  float: right;
}